.iframe1 {
  width: 356px;
  height: 633px;
  position: absolute;
  top: 121px;
  left: 70px;
}

.iframe2 {
  width: 356px;
  height: 633px;
  position: absolute;
  top: 121px;
  left: 655px;
}

.content {
  position: relative;
  height: 900px;
}

.title {
  /*margin-top: 100px;*/
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("./images/nexus_and_iphone.jpg");
}